[Unit]
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.5 /usr/local/bin/remap.py

[Install]
# Needed to run at boot
WantedBy=multi-user.target
