[Unit]
After=network.target

[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/python3 /home/jgedarovich/.nix-profile/bin/remap.py

[Install]
# Needed to run at boot
WantedBy=multi-user.target
